.cards-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 13px;
  margin-top: 8px;
  max-height: 280px;
  overflow-y: auto;
  padding-right: 100px;
  padding-left: 10px;
}

.cards-grid::-webkit-scrollbar {
  width: 8px;
}

.cards-grid::-webkit-scrollbar-track {
  background: #976411;
}

.cards-grid::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.cards-grid::-webkit-scrollbar-thumb:hover {
  background: #eeeeee;
}

.card {
  background-color: #976411;
  border: 3px solid #ffffff;
  border-radius: 0;
  padding: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 120px;
  min-height: 120px;
  width: 100%;
}

.card-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3px;
  color: #ffffff;
}

.card-detail {
  font-size: 0.8rem;
  margin: 1px 0;
  color: #f0f0f0;
  font-weight: normal;
}

.card-address {
  font-size: 0.8rem;
  color: #f0f0f0;
  font-weight: normal;
  margin-top: 28px;
  margin-bottom: 0px;
  padding-top: 1px;
  text-align: left;
  padding-right: 0px;
  padding-left: -2px;
  text-align: left !important;
  display: block;
  width: 100%;
}

.cards-grid::-webkit-scrollbar {
  width: 6px;
  transform: translateY(0px);
}

.cards-grid::-webkit-scrollbar-track {
  background: #976411;
  margin-top: -12px;
  margin-bottom: -33px;
}

.cards-grid::-webkit-scrollbar-thumb {
  background: #ffffff;
}